.all_lists span.active, .hit_lists span.active {
    /*color: #4b6cf9;*/
	color: white;
	background: #6fa5f3;
    transition: 0;
}

.sections .fc-sections-item {
    width: 260px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 0px;
}

.sections .fc-sections-item img {
    filter: grayscale(1);
    transition: .3s;
}

.sections .fc-sections-item:hover img,
.sections .fc-sections-item.active img {
    filter: grayscale(0);
}

.sections .fc-sections-item, .all_lists span, .hit_lists span {
    cursor: pointer;
}
.all_lists span, .hit_lists span {
    cursor: pointer;
    height: 53px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    transition: .3s;
}
.all_lists span:hover, .hit_lists span:hover {
    color: white;
    background: #6fa5f3;
}

.sections + h4 {
    margin: 20px 0;
}

.card-item {
    text-align: center;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    width: min-content;
}

div.swiper-button-prev.swiper-button-disabled, div.swiper-button-next.swiper-button-disabled {
    display: none;
}

.card-item {
    margin-left: 10px;
}

.card-item a {
    margin-bottom: 10px;
    font-weight: 700;
    display: block;
}

.card-item a p {
    margin: 0;
}

.card-item img {
    border-radius: 8px;
}

.card-item-name + div p {
    margin: 0;
    font-size: 13px;
}

.links a {
    margin: 10px 0;
}

.choose-result-wrap, .all_lists, .hit_lists {
    position: relative;
    margin-bottom: 15px;
}

#choose_result {
    margin: 0;
    padding: 10px 0;
}

.fc-sections-item img {
    max-width: 100%;
    border-radius: 8px;
}

.fc-sections.swiper-button-lock {
    display: none;
}
.all_lists .swiper-container,
.hit_lists .swiper-container {
	padding: 12px 0;
}
.all_lists .sticker,
.hit_lists .sticker {
    min-width: 140px;
    /*max-width: 220px;*/
    width: fit-content;
    line-height: 1.2em;
    font-weight: 700;
    color: black;
    white-space: nowrap;
}

.fc-all_lists,
.fc-hit_lists {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.fc-result {
    top: 90px;
}

.sections .fc-sections-item {
    padding-left: 5px;
    padding-right: 5px;
}

.choose-result-wrap .card-item .props_list {
    width: 100%;
    margin-top: 10px;
}

.choose-result-wrap .card-item .props_list tr {
    line-height: 1.2;
}

.choose-result-wrap .card-item .props_list tr td:first-child {
    text-align: left;
    padding-right: 10px;
    padding-left: 0px;
    font-size: 13px;
}

.choose-result-wrap .card-item .props_list tr td {
    padding: 0px;
    text-align: right;
    font-size: 13px;
}

.choose-result-wrap .card-item .props_list tr td span {
    white-space: nowrap;
    font-size: 10px;
    padding-right: 12px;
    position: relative;
    background: #FFF;
    padding: 0px;
    display: inline-block;
    color: #666;
}

.choose-result-wrap .card-item .fast_title {
    height: 50px;
    overflow: hidden;
}

.choose-result-wrap .card-item {
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/*.choose-result-wrap .card-item:first-child{padding-left:0px;}*/
.choose-result-wrap .card-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.all_lists .fc-all_lists { /*display: none;*/
}

.hit_lists .fc-hit_lists {
    display: none;
}

.choose-result-wrap .card-item .card-item-name > a:first-child {
    height: 130px;
    overflow: hidden;
}

.choose_extra_links {
    text-align: center;
}

.all_lists ul > li::before,
.hit_lists ul > li::before {
    content: none;
}