.sku_props .bx_item_section_name{display:none;}
.bx_catalog_item_scu .bx_item_detail_scu ul li .cnt_item{width:100px !important; height:40px !important;}
.ajax_load.block .footer_button{display: none !important;}
.catalog_block .catalog_item{padding: 5px !important;}