.fm_takze_ishut h4{border-bottom: 1px dashed;cursor:pointer;}
.fm_takze_ishut .item .body-info{padding: 0px !important;}
.fm_takze_ishut .item .body-info a{font-weight: normal;}
.fm_takze_ishut .category .col-md-12{padding-left: 0px;}