.news-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.news-item{
    /* width: 32.6%; */
    box-shadow: 0 0 0 1px #f2f2f2;
    margin: 0 0 0 0;
    position: relative;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    max-width: 125px;
    font-size: 15px;
    line-height: 17px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.news-item:hover{
    box-shadow: 0 0 27px 0 rgba(0,0,0,.1);
    transition: all 0.3s;
}
.news-item_img a {
    line-height: 0;
    font-size: 0;
}
.news-list .preview_picture{
    width: 100%;
    height: 220px;
    object-fit: cover;
    opacity: 0.9;
    transition: all 0.3s;
}
.news-list .news-item:hover .preview_picture{
    opacity: 1;
    transition: all 0.3s;
}
.news-item_img {
    height: 220px;
    overflow: hidden;
}

.news-item_desc {
    padding: 10px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(256, 256, 256, 0.8)40%, rgba(256, 256, 256, 0.6)70%,transparent 100% );
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #2A3D71;
    cursor: pointer;
}
.news-item_desc p{
    margin: 5px 0;
}
.news_preview_text {
    display: none;
}
.news_list_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.owl-nav {
    position: absolute;
    top: calc(50% - 50px);
}
.owl-next,
.owl-prev{
    background-size: 50% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -42px;
}
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -42px;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}
.owl-stage-outer {
    margin-left: 0px;
    margin-right: 0px;
}
@media screen and (max-width: 950px){
    .news-item,
    .news-list .preview_picture,
    .news-item_img{height: 200px;}
    .news-list .news-item:hover .preview_picture{height: 100%; width: 100%;}

    .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
        display: none;
    }
    .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        left: -20px;
        width: 20px;
    }
    .owl-carousel .owl-nav button.owl-next{
        position: absolute;
        right: -20px;
        width: 20px;
    }

}
@media screen and (max-width: 550px){
    .news-item{margin: 0 0px;}
    .news-item{	max-width: 125px;font-size: 12px; line-height: 15px;}
    .news-item,
    .news-list .preview_picture,
    .news-item_img{height: 180px;}

}
#owl-carousel_8{margin-top:30px;}
#owl-carousel_8 li:before{display: none;}
#owl-carousel_8 li{padding-left: 0px;}
#owl-carousel_8 .owl-dots{display: none;}
